<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <h1>Bienvenido al simulador</h1>
        <form method="post" action="/simulate">
            <div class="surface-float"> 
                <h3 class="title-no">Ingresa tu nombre</h3>
                <div class="field-float">
                    <p class="field-name">Nombre:</p> 
                    <input class="my-input"  type='text' name='nombre' id='nombre' placeholder='Nombre'>
                </div>
            </div>
            <div class="pos-float"> 
                <h3>Ingresa las dimensiones de la superficie</h3>
                <div class="field-float">
                    <p class="field-name">Numero de columnas:</p> 
                    <input class="my-input" type='text' name='columnas' id='columnas' placeholder='Numero de columnas'>
                </div>
                <div class="field-float mrg-left">
                    <p class="field-name">Numero de filas:</p> 
                    <input class="my-input" type='text' name='filas' id='filas' placeholder='Numero de filas'>
                </div>
            </div>
            <div class="pos-float"> 
                <h3 class="title-no">Ingresa la cantidad de autos</h3>
                <div class="field-float">
                    <p class="field-name">Cantidad de autos:</p> 
                    <input class="my-input"  type='text' name='cant_autos' id='cant_autos' placeholder='Cantidad de autos'>
                </div>
            </div>
            
            <div class="button-float"><input type='submit' class="button" value='Continuar' id='continue'></div>
        </form>
     
    </body>
</html>